body {
    background-color: teal;
}

.ig {
    text-align: center;
}

.well {
    color: teal;
    background-color: cornsilk;
}

#add {
    color: teal;
    font-style: calibri;
    font-size: 15px;
    float: right;
}

#igram {
    color: teal;
    background-color: cornsilk;
    text-align: center;
}
a{
    color: cornsilk;
}
a:hover{
    color: cyan;
}
h3{
    color: cornsilk;
}

